.image {

    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    left: 0px;



}

.nav {
    position: relative;
    padding: 11px;
    background-color: #808080;
    margin: -8px;
    height: 28px;

}

.ul {
    position: absolute;
    display: inline;
    left: 60px;



}

.a {
    display: inline-block;
    margin: 79px;
    padding: 100px;
    position: relative;
    top: -188px;
}


.div {

    display: flex;
    flex-direction: column;
}

.div img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    align-items: left;
    margin-top: 50px;

}

.div p {
    font-size: 20px;
    font-style: italic;
    font-family:  sans-serif;

    margin-top: 10px;
    border-style: dotted;
    border-color: brown;
}

.div h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: -142px;

}

#contact {
    background-color: gray;
}
a:visited {
    color: rgb(119, 15, 15);
  }
  
  a:hover {
    color: rgb(221, 52, 52);
  }
  
  a:active {
    color: rgb(231, 165, 165);
  }


.foot {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: left;


}